.header__link {
 align-self: center;
 font-weight: normal;
 line-height: 28px;
 font-size: 24px;
 text-decoration: none;
 color: white;
}

@media screen and (max-width: 375px) {
  .header__link {
    font-size: 18px;
    line-height: 111%;
  }
}
