.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  gap: 40px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0px;
}


@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 28px;
    padding-bottom: 73px;
  }
}
@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 32px;
    padding-bottom: 50px;
  }
}
